@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

::placeholder {
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif;
}

/* .modal-dialog {
	width: 100%;
    max-width: 1300px;
    margin: 30px auto;
} */
/* .modal.show .modal-dialog {
    transform: translate(0, 0);
    width: 100%;
    max-width: 1300px;
} */
.main-content .content {
    padding: 0 15px 10px 15px;
    margin-top: 0px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_30 {
    margin-bottom: 20px;
}

.mb_0 {
    margin-bottom: 0px;
}

.mtb_10 {
    margin: 10px auto;
}

.mb_15 {
    margin-bottom: 15px !important;
}

.red {
    color: #d9534f;
}

.uniq-supervisim-form input[type="radio"] {
    width: auto;
}

.uniq-supervisim-form {
    width: 100%;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
    padding: 30px 20px;
    background: #207ac7;
}

.uniq-supervisim-form .page-title h1 {
    margin-top: 0px;
    text-align: center;
    color: #d9534f;
    font-size: 30px;
    text-transform: uppercase;
    max-width: max-content;
    margin: 0 auto;
    position: relative;
    padding: 0px 0px 15px;
    font-weight: bold;
}

.uniq-supervisim-form .page-title h1::after {
    position: absolute;
    bottom: 0px;
    border-bottom: 5px solid #d9534f;
    width: 20%;
    height: 5px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*=====================header css Start=======================*/
.uniq-supervisim-form header {
    background: #fff;
    padding: 20px 20px 0px;
    border-bottom: 0px solid #207ac7;
}

.uniq-supervisim-form header .flex-div {
    align-items: center;
    padding: 0px 15px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
}

.uniq-supervisim-form header .flex-div .col-item {
    width: 50%;
}

.uniq-supervisim-form header .logo {
    margin: 0;
    text-align: left;
    display: block;
    padding: 0px 0px 0px;
}

.uniq-supervisim-form header .logo img {
    width: 100%;
    max-width: 250px;
}

.uniq-supervisim-form header .col-item:nth-child(2) {
    width: 50% !important;
}

.uniq-supervisim-form header .col-item h1 {
    font-size: 28px;
    text-align: center;
    color: #207ac7;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.uniq-supervisim-form header .flex-div .info-details {
    text-align: left;
    float: right;
    width: 100%;
    max-width: 320px;
}

.uniq-supervisim-form header .col-item .info-details p {
    margin: 0;
    font-size: 17px;
    color: #000;
    line-height: 24px;
}

.uniq-supervisim-form header .info-details p {
    color: #d9534f !important;
    font-size: 17px !important;
}

.uniq-supervisim-form header .col-item .info-details ul {
    margin: 0px auto 0px;
    padding: 0;
    display: block;
}

.uniq-supervisim-form header .col-item .info-details ul li {
    list-style: none;
    font-size: 17px;
    color: #000;
    margin-bottom: 5px;
}

.uniq-supervisim-form header .col-item .info-details ul li span,
.uniq-supervisim-form header .col-item .info-details ul li a span {
    font-weight: 700;
    color: #207ac7;
    margin-right: 5px;
}

.uniq-supervisim-form header .col-item .info-details ul li a {
    color: #000;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}

/*=================header css end===============*/
.uniq-supervisim-form table input {
    border: none;
    outline: none;
}

.uniq-supervisim-form table tr td input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}

.uniq-supervisim-form table tr:nth-child(2) td:nth-child(1) {
    width: 20%;
}

.uniq-supervisim-form table {
    width: 100%;
    border-collapse: collapse;
}

.uniq-supervisim-form table tr th,
.uniq-supervisim-form table tr td {
    border: 2px solid #207ac7;
    padding: 7px 10px;
    width: auto;
    max-width: max-content;
}

.uniq-supervisim-form table tr th {
    font-weight: bold;
    color: #fff;
    background: #207ac7;
    border: 2px solid #4799e0;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
}

.uniq-supervisim-form .checkbox-area ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.uniq-supervisim-form .checkbox-area ul li {
    list-style: none;
    flex: auto;
    max-width: max-content;
    margin-right: 20px;
}

.uniq-supervisim-form .checkbox-area ul li input {
    width: auto !important;
}

.uniq-supervisim-form .select-area label {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.uniq-supervisim-form table tr td input["date"] {
    width: auto;
    max-width: max-content;
}

.uniq-supervisim-form table tr td input[type="date"],
.uniq-supervisim-form table tr td input[type="time"] {
    width: auto;
}

.uniq-supervisim-form textarea {
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    resize: vertical;
}

.uniq-supervisim-form input,
.uniq-supervisim-form textarea {
    outline: none;
    font-size: 16px;
    color: #333;
}

.uniq-supervisim-form h3 {
    font-size: 17px;
    margin: 0px;
    font-weight: bold;
    color: #207ac7;
}

.uniq-supervisim-form .page-title h1 {
    margin-top: 0px;
    text-align: center;
    color: #d9534f;
    font-size: 30px;
    text-transform: uppercase;
    max-width: max-content;
    margin: 0 auto;
    position: relative;
    padding: 0px 0px 15px;
    font-weight: bold;
}

.uniq-supervisim-form .page-title h1::after {
    position: absolute;
    bottom: 0px;
    border-bottom: 5px solid #d9534f;
    width: 20%;
    height: 5px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
}

.uniq-supervisim-form .content {
    border: 0px solid #fff;
    padding: 0px 20px 20px;
    background: #fff;
}

/*----------------content css start................*/
.uniq-supervisim-form table .flex-div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.uniq-supervisim-form table .flex-div span {
    flex: auto;
}

.uniq-supervisim-form table .flex-div span:nth-child(1) {
    max-width: max-content;
}

.uniq-supervisim-form .section_1 table tr td:nth-child(1) {
    width: 40%;
}

.uniq-supervisim-form .bracket {
    color: #d9534f;
    font-size: 14px;
    font-style: italic;
}

.uniq-supervisim-form .textarea-part .textarea {
    width: 100%;
    margin: 10px auto 0px;
}

.uniq-supervisim-form .textarea-part .textarea textarea {
    width: 100%;
    border: 2px solid #5cb85c;
}

.uniq-supervisim-form .section_2 table tr td {
    width: 50%;
}

.uniq-supervisim-form .section_2 .flex-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
}

.uniq-supervisim-form .section_2 .flex-div .col-item {
    flex: 1;
}

.uniq-supervisim-form section .box.box-last_2 {
    margin-top: 40px;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div {
    column-gap: 0px;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div .col-item:nth-child(1) {
    padding-right: 15px !important;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div .col-item {
    width: 50%;
    padding: 0px !important;
    padding-right: 0px;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div .col-item input {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 2px solid #207ac7;
}

.uniq-supervisim-form section .box.box-last_2 input {
    border: 2px solid #207ac7;
    width: 100%;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div .col-item label {
    text-align: center;
    max-width: 100%;
    width: 100%;
    display: inline-block;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.uniq-supervisim-form section .box.box-last_2 input[type="date"] {
    width: auto;
    max-width: max-content;
    margin: 0 auto;
}

.uniq-supervisim-form section .box.box-last_2 .flex-div .col-item {
    flex: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.uniq-supervisim-form section .holder-div {
    width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.uniq-supervisim-form .holder-div span input {
    width: 50px !important;
    height: 20px !important;
    border: 2px solid #207ac7 !important;
    margin-top: 4px;
}

.uniq-supervisim-form .holder-div span {
    display: flex;
    justify-content: space-around;
}

.uniq-supervisim-form .holder-div span label {
    width: auto !important;
}

.uniq-supervisim-form .section_2 .flex-div .col-item:nth-child(2) .textarea-part .textarea {
    max-height: 121px;
    min-height: 121px;
}

.uniq-supervisim-form section .holder-div input[type="date"] {
    margin: 0 auto;
}

/*----------------content css End................*/
/*----------------footer button css start................*/
.uniq-supervisim-form .section_bottom {
    margin: 60px auto 0px;
    width: 100%;
}

.uniq-supervisim-form label,
.uniq-supervisim-form table tr td,
.uniq-supervisim-form h3 {
    font-size: 17px;
    margin: 0px;
    font-weight: bold;
}

.uniq-supervisim-form .checkbox-area ul li label {
    font-weight: 600;
}

.uniq-supervisim-form .section_bottom .flex-div.button-row {
    margin: 30px auto 0px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.uniq-supervisim-form .section_bottom .flex-div.button-row div {
    flex: auto;
    max-width: max-content;
    width: auto;
}

.uniq-supervisim-form .section_bottom .flex-div.button-row div a,
.uniq-supervisim-form .section_bottom .flex-div.button-row div button {
    padding: 11px 20px;
    font-size: 17px;
    display: block;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ddd;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.uniq-supervisim-form .section_bottom .flex-div.button-row div a i.fas,
.uniq-supervisim-form .section_bottom .flex-div.button-row div button i.fas {
    margin-right: 6px;
}

.uniq-supervisim-form .section_bottom .mark-sign a {
    background: #5cb85c;
    color: #fff !important;
}

.uniq-supervisim-form .section_bottom .flex-div.button-row div.cancel a,
.uniq-supervisim-form .section_bottom .flex-div.button-row div.cancel button {
    background: #d9534f;
    color: #fff;
}

.uniq-supervisim-form .section_bottom .flex-div:nth-child(1) .col-item:nth-last-child(1) {
    display: flex;
    flex-direction: column;
}

/*========================footer bottom===========================*/
.uniq-supervisim-form .footer-section {
    margin: 50px auto 0px;
    box-shadow: 0px -5px 6px -4px #ccc;
    padding: 20px 0px;
}

.uniq-supervisim-form .footer-section .flex-div {
    display: flex;
    justify-content: space-between;
}

.uniq-supervisim-form .footer-section .flex-div .col-item:nth-child(2) p {
    text-align: right;
}

.uniq-supervisim-form .footer-section .flex-div .col-item {
    flex: auto;
    width: auto;
}

.uniq-supervisim-form .footer-section .flex-div .col-item p {
    margin: 0;
    font-size: 14px;
}

.uniq-supervisim-form .footer-section .flex-div .col-item p a {
    color: #207ac7;
    text-decoration: none;
    font-weight: 600;
}

.uniq-supervisim-form .flex-div.row-flex:nth-child(2) .col-item:nth-child(2) {
    width: 14%;
}

.uniq-supervisim-form .section_bottom .flex-div span:nth-child(1) {
    width: auto;
}

@media only screen and (max-width: 768px) {

    /*------------------common responsive css----------------*/
    /* div#modalSessionNotes {
    padding: 0px !important;
}
.modal-dialog {
    margin: 0 auto !important;
} */
    .card-body {
        padding: 10px;
    }

    .main-content .col-xl-12 {
        padding: 0;
    }

    .uniq-supervisim-form .section_1 tr td {
        display: block;
        width: 100% !important;
        max-width: 100% !important;
        border-top: none !important;
    }

    .uniq-supervisim-form .section_1 tr:nth-child(1) td:nth-child(1) {
        border-top: 2px solid #207ac7 !important;
    }

    .uniq-supervisim-form .section_2 .flex-div {
        row-gap: 10px;
    }

    .uniq-supervisim-form .section_2 .flex-div span input {
        margin: 4px 5px 4px 0px;
    }

    .uniq-supervisim-form header .logo img {
        max-width: 250px;
    }

    .uniq-supervisim-form .section_bottom {
        margin: 0px auto 0px;
    }

    .uniq-supervisim-form .section_bottom .flex-div.button-row {
        flex-direction: row;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;
    }

    .uniq-supervisim-form .section_bottom .flex-div.button-row div a {
        padding: 10px 14px;
        font-size: 14px;
    }

    .uniq-supervisim-form .footer-section .flex-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .uniq-supervisim-form .footer-section .flex-div .col-item p {
        font-size: 14px;
        text-align: center;
    }

    .uniq-supervisim-form .footer-section .flex-div .col-item:nth-child(2) p {
        text-align: center;
        font-size: 14px;
    }

    .uniq-supervisim-form .footer-section .flex-div {
        flex-direction: column;
        row-gap: 10px;
    }

    .uniq-supervisim-form .footer-section {
        margin: 40px auto 0px;
        box-shadow: 0px -5px 6px -4px #ccc;
        padding: 20px 0px 0px;
    }

    .uniq-supervisim-form section .box.box-last_2 {
        margin-top: 10px;
    }

    .uniq-supervisim-form section .box.box-last_2 .flex-div {
        column-gap: 0px;
    }

    /*------------------header responsive css ----------------*/
    .uniq-supervisim-form header .logo {
        text-align: center;
    }

    .uniq-supervisim-form header .flex-div {
        align-items: center;
        padding: 0px 15px 15px;
        box-sizing: border-box;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .uniq-supervisim-form header .flex-div .col-item {
        width: 100%;
        margin: 0px auto 20px;
    }

    .uniq-supervisim-form header .flex-div .info-details {
        text-align: center;
        float: none;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .uniq-supervisim-form header .col-item:nth-child(2) {
        width: 100% !important;
    }

    .uniq-supervisim-form header .col-item .info-details ul li {
        font-size: 14px;
    }

    .uniq-supervisim-form .page-title h1 {
        font-size: 17px;
        padding: 0px 0px 15px;
    }

    .uniq-supervisim-form section {
        overflow: auto;
    }

    .uniq-supervisim-form label,
    .uniq-supervisim-form table tr td,
    .uniq-supervisim-form h3 {
        font-size: 14px;
    }

    .uniq-supervisim-form table tr th,
    .uniq-supervisim-form table tr td {
        padding: 5px 5px;
    }

    .uniq-supervisim-form .select-area label {
        font-size: 14px;
    }

    .uniq-supervisim-form table .flex-div span {
        flex: auto;
        display: flex;
    }

    .uniq-supervisim-form section .box.box-last_2 .flex-div {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}

/* @media only screen and (max-width: 580px) {
.modal-dialog {
    margin: 90px 0px !important;
}
} */
.save-prog button {
    background: #483D8B;
    color: #fff !important;
}

.print button {
    background: #467fd0;
    color: #fff !important;
}